<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand brand" href="#"><strong>BRIGHT EVENT</strong></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li><a href="/addEvent">Create Event</a></li>
            <li><a href="/myEvents">My Events</a></li>
            <li><a href="/">Sign Out</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <div class = 'container events'>

    	<div class="row">
    		<div class="col-lg-6">
    			<table class="table">
    				<tr>

						<th>
							Event Title
						</th>

					</tr>
					<tr>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</td>
					</tr>
					<tr>

						<td>
							<time datetime="2017-11-29 09:00">Wednesday, 29th November</time>
							<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Nairobi, Kenya</p>

						</td>
					</tr>
    			</table>
    		</div>
    		<div class="col-lg-6">
    			<table class="table">
    				<tr>

						<th>
							Event Title
						</th>

					</tr>
					<tr>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</td>
					</tr>
					<tr>

						<td>
							<time datetime="2017-11-29 09:00">Wednesday, 29th November</time>
							<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Nairobi, Kenya</p>

						</td>
					</tr>
    			</table>
    		</div>
    	</div>

    	<div class="row">
    		<div class="col-lg-6">
    			<table class="table">
    				<tr>

						<th>
							Event Title
						</th>

					</tr>
					<tr>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</td>
					</tr>
					<tr>

						<td>
							<time datetime="2017-11-29 09:00">Wednesday, 29th November</time>
							<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Nairobi, Kenya</p>

						</td>
					</tr>
    			</table>
    		</div>
    		<div class="col-lg-6">
    			<table class="table">
    				<tr>

						<th>
							Event Title
						</th>

					</tr>
					<tr>
						<td>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</td>
					</tr>
					<tr>

						<td>
							<time datetime="2017-11-29 09:00">Wednesday, 29th November</time>
							<p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Nairobi, Kenya</p>

						</td>
					</tr>
    			</table>
    		</div>
    	</div>
	</div>

</body>
</html>
