{% extends 'baseindex.html' %}

{% block title %}Bright Event | Home{% endblock %}

{% block body %}
    <div class="bg-overlay">

    	<div class="container">

			<div class='row'>

				<div class="col-lg-4">

				</div>

				<div class="col-lg-4">

					<div class = 'registration'>

						<h1>Sign up to continue</h1>

            {% from "includes/_formhelpers.html" import render_field %}

						<form action="" method="POST">

              <div class="form-group">

                {{render_field(form.name, clas_="form-control")}}

              </div>
              <div class="form-group">

                {{render_field(form.email, clas_="form-control")}}

              </div>
              <div class="form-group">

                {{render_field(form.password, clas_="form-control")}}

              </div>
              <div class="form-group">

                {{render_field(form.confirmpassword, clas_="form-control")}}

              </div>

              <input type="submit" class="btn btn-success" value="Submit">


                      <!--
			                <label>Full Name</label>
			                <input type="text" id = 'name' name = 'name' placeholder="Enter Full name.."> <br>

			                <label>Email</label>
			                <input type="email" id="email" name="email" placeholder="Enter Email Address.."><br>

			                <label>Password</label>
			                <input type="password" id = 'password' name="password" placeholder="Type password.."><br>

			                <label>Confirm Password</label>
			                <input type="password" id = "confirmpassword" name="confirmpassword" placeholder="Re-enter password.." ><br>

			                <button class='btn btn-success'>Submit</button>
                    -->

			             </form>

		              <p>Have an account? <a href="/login"><button type="button" class="btn btn-link">Log In</button></p></a>
					</div>
				</div>

				<div class="col-lg-4">

				</div>

			</div>

		</div>

    </div>

{% endblock %}
</body>
</html>
