{% extends 'baseindex.html' %}

{% block title %}Bright Events | Login {% endblock %}

{% block body %}

	<div class="bg-overlay">

		<div class='container'>

			<!--<div class='row'>

				<div col-lg-12>

					<h1>Log in to your account</h1>

				</div>

			</div> -->

			<div class='row'>

				<div class="col-lg-4">

				</div>
				<div class="col-lg-4 login">

					<h1>Login<small></small></h1>

					{% include 'includes/_messages.html' %}
					<form action="" method="POST">

							<label>Email</label>
			        <input type="email" class="form-control" value={{request.form.email}}><br>
			        <label>Password</label>
			        <input type="password" class="form-control" value={{request.form.password}}><br>
			        <button type="submit" class='btn btn-primary'>Login</button>

					</form>
				</div>
				<div class="col-lg-4">

				</div>

			</div>

		</div>

	</div>

{% endblock %}

</body>
</html>
