{% extends 'baseindex.html' %}

{% block title %}Bright Events | Login {% endblock %}

{% block body %}

	<div class="bg-overlay">

		<div class='container'>

			<!--<div class='row'>

				<div col-lg-12>

					<h1>Log in to your account</h1>

				</div>

			</div> -->

			<div class='row'>

				<div class="col-lg-4">

				</div>
				<div class="col-lg-4 login">

					<h1>Login<small></small></h1>

					<label>Email</label>
			        <input type="email" name="email" placeholder="Enter email"><br>
			        <label>Password</label>
			        <input type="password" placeholder="Enter password"><br>
			        <button class='btn btn-success'><a href="/home">Login</a></button>
				</div>
				<div class="col-lg-4">

				</div>

			</div>

		</div>

	</div>

{% endblock %}

</body>
</html>
