{% extends 'basehome.html' %}

{% block title %} Bright Events | myEvents {% endblock %}

{% block body %}
	<div class="container">
		<table class="table table-striped" style="color: black !important>
			<tr>
				<th>Event Name</th>
				<th>RSVP</th>
				<th>Action</th>
			</tr>
			<tr>
				<td>Dummy Event 1</td>
				<td>45</td>
				<td><button class="btn btn-sm btn-warning">Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
			</tr>
			<tr>
				<td>Dummy Event 2</td>
				<td>56</td>
				<td><button class="btn btn-sm btn-warning">Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
			</tr>
			<tr>
				<td>Dummy Event 3</td>
				<td>34</td>
				<td><button class="btn btn-sm btn-warning">Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
			</tr>
			<tr>
				<td>Dummy Event 4</td>
				<td>78</td>
				<td><button class="btn btn-sm btn-warning">Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
			</tr>
			<tr>
				<td>Dummy Event 5</td>
				<td>5</td>
				<td><button class="btn btn-sm btn-warning">Edit</button><button class="btn btn-sm btn-danger">Delete</button></td>
			</tr>
		</table>
	</div>

</body>

{% endblock %}